.parent {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
}

.spinner {
  width: 100%;
  height: 100vh;
  display: table;
  text-align: center;
  color: #1890ff;
}

.spinnerContent {
  display: table-cell;
  vertical-align: middle;
}

.paperContent {
  margin: auto;
  /*padding-top: 70px;*/
  width: 90%;
  display: table;
}

.paperBody {
  float: left;
  width: 60%;
  background: transparent;
  border: 1px solid #6F6F6F;
  padding: 20px;
  border-radius: 10px;
}

.options {
  display: block;
  padding: 10px;
}

.paperInformation {
  float: right;
  width: 30%;
  border-radius: 10px;
  border: 1px solid #6F6F6F;
  padding: 20px;
}

.counterAnswered {
  margin: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #457DD1;
  border-radius: 20px;
}

.counterReview {
  margin: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #FAFF00;
  border-radius: 20px;
}

.counterNotAnswered {
  margin: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #eee;
  border-radius: 20px;
}

.paperNavgation {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  overflow-y: scroll;
  background-color: white;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(235, 237, 240);
  align-content: flex-start;
  border-radius: 20px;
}

.paperButton {
  padding-bottom: 5%;
  text-align: center;
}

.paperTitle {
  margin-bottom: 3%;
  margin-top: 3%;
}
