.content {
    background-color: linear-gradient(#04102D, #122857, #04102D);
    color: white;
    display: table;
    width: 100%;
    height: 100vh;
}

.loginForm {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.spinner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}